#user-card {
  background-color: white;
  padding: 0px 10%;
  padding-bottom: 10px;
  display: flex;
}

#welcome {
  display: grid;
  grid-template: 1fr 1fr / 1fr 6fr;
  width: 60%;
}

#welcome figure {
  margin: 0px;
  width: 75px;
  grid-area: 1 / 1 / 3 / 2;
}

#welcome img {
  width: 100%;
  border-radius: 50%;
}

#welcome>p:first-of-type {
  font-size: 1.3rem;
}

#welcome>p:last-of-type {
  color: #777;
}

#statistics {
  width: 40%;
  display: flex;
}

#statistics>div {
  width: 33%;
  position: relative;
  text-align: right;
}

#statistics>div::after {
  content: '|';
  position: absolute;
  top: 0;
  left: 15%;
  font-size: 2.2rem;
  color: #ddd;
}

#statistics>div:first-of-type::after {
  content: '';
}

#statistics>div>p:first-of-type,
#statistics span {
  color: #777;
  font-size: 1rem;
}

#statistics>div>p:last-of-type {
  font-size: 1.8rem;
}

#statistics span::before {
  content: '/';
  margin: 0px 5px;
}

@media screen and (max-width: 999px) {
	#user-card {
    flex-direction: column;
  }
  #welcome,
  #statistics {
    width: 100%;
  }

  #statistics {
    margin-top: 15px;
  }
}

@media screen and (max-width: 500px) {
	#user-card {
    padding: 0px 2%;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  #statistics>div::after {
    left: 7px;
  }
}