.logo-name {
  width: 50%;
  padding: 15px;
  padding-right: 0px;
  font-size: 0.8rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: #777;
}

.logo-name figure {
  margin: 0px;
  padding-right: 7px;
}

@media screen and (max-width: 400px) {
  .logo-name {
    width: 100%;
  }
}